<h1 *ngIf="!paginaScomposizione">FAQ</h1>
<clr-accordion *ngIf="!paginaScomposizione && !paginaAssociativa">
  <clr-accordion-panel>
    <clr-accordion-title>Opzioni (incona in alto a destra)</clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>
    
    Nell'angolo in alto a destra, tramite l'icona,
    è possibile decidere se visualizzare tutti i passaggi o soltanto l'ultimo.
    Potrebbe essere utile, per esempio, per dispositivi di piccole dimensioni.
    
    </clr-accordion-content>
  </clr-accordion-panel>

  <clr-accordion-panel >
    <clr-accordion-title>La scomposizione</clr-accordion-title>
    <clr-accordion-content>È sufficiente cliccare o toccare i numeri, per
    poter decomporre. Provare con la breve espressione qui di seguito. <br>
    Il pulsante con l'icona con il cestino serve ad eliminare la scomposizione.
	    <app-righe-passaggi
	    	[(esercizio)]="esercizio"
	    	[visualizzaHeaderCard] = "false"
	    	[(paginaAssociativa)] = "paginaAssociativa"
	    	[(paginaScomposizione)] = "paginaScomposizione"
	    	[(numeroScomposto)] = "numeroScomposto"
	    	[(indiceNumeroScomposto)] = "indiceNumeroScomposto"
	    	[(valoreSovrapposto)] = 'valoreSovrapposto'
			[(valoreSpostato)] = 'valoreSpostato'
			[(eventoDrop)] = 'eventoDrop'
	    ></app-righe-passaggi>
    </clr-accordion-content>
  </clr-accordion-panel>

  <clr-accordion-panel>
    <clr-accordion-title>La somma</clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>
    	Trascinare un numero su di un altro numero prendendolo dall'icona della mano.
    	Se non c'è l'icona con la mano, è perché non è stata fatta almeno una scomposizione.
   
    	<app-righe-passaggi
	    	[(esercizio)]="esercizio"
	    	[visualizzaHeaderCard] = "true"
	    	[(paginaAssociativa)] = "paginaAssociativa"
	    	[(paginaScomposizione)] = "paginaScomposizione"
	    	[(numeroScomposto)] = "numeroScomposto"
	    	[(indiceNumeroScomposto)] = "indiceNumeroScomposto"
	    	[(valoreSovrapposto)] = 'valoreSovrapposto'
			[(valoreSpostato)] = 'valoreSpostato'
			[(eventoDrop)] = 'eventoDrop'
			[dimostrativoFisso]="true"
	    ></app-righe-passaggi>
    </clr-accordion-content>
  </clr-accordion-panel>

	<clr-accordion-panel>
	    <clr-accordion-title>Alcuni esempi risolti</clr-accordion-title>
	    <clr-accordion-content *clrIfExpanded>
	    	Trascinare un numero su di un altro numero prendendolo dall'icona della mano.
	    	Se non c'è l'icona con la mano, è perché non è stata fatta almeno una scomposizione.
	   
	    	<app-righe-passaggi
		    	[(esercizio)]="esempio1"
		    	[dimostrativoFisso]="true"
		    	[soluzioneConosciutaCorretta]="true"
		    ></app-righe-passaggi>
		    <br>
		    Eccone un altro.
		    <app-righe-passaggi
		    	[(esercizio)]="esempio2"
		    	[dimostrativoFisso]="true"
		    	[soluzioneConosciutaCorretta]="true"
		    ></app-righe-passaggi>
	    </clr-accordion-content>
	  </clr-accordion-panel>
	<clr-accordion-panel>
	    <clr-accordion-title>I colori</clr-accordion-title>
	    <clr-accordion-content *clrIfExpanded>
	    	Al termine dell'esercizio, la soluzione finale può essere circondata
	    	da tre colori differenti.
	    	<ul class="list">
			    <li>Soluzione corretta:
				    <app-righe-passaggi
				    	[(esercizio)]="esempio1"
				    	[dimostrativoFisso]="true"
				    	[soluzioneConosciutaCorretta]="true"
				    ></app-righe-passaggi>
			    </li>
			    <li>Soluzione non conosciuta. Il docente dovrà guardare l'esercizio per decidere.
				    <app-righe-passaggi
				    	[(esercizio)]="esempio1"
				    	[dimostrativoFisso]="true"
				    	[soluzioneConosciutaCorretta]="false"
				    ></app-righe-passaggi>
			    </li>
			    <li>Soluzione sbagliata. Il docente ha indicato come errato il procedimento
			    	dell'esercizio.
				    <app-righe-passaggi
				    	[(esercizio)]="esempio1"
				    	[dimostrativoFisso]="true"
				    	[soluzioneConosciutaCorretta]="false"
				    	[soluzioneSbagliata]="true"
				    ></app-righe-passaggi>
			    </li>
			</ul>
	    </clr-accordion-content>
	  </clr-accordion-panel>
	</clr-accordion>


<app-input-scomposizione *ngIf="paginaScomposizione"
	[numeroScomposto] = 'numeroScomposto'
	[indiceNumeroScomposto] = 'indiceNumeroScomposto'
	[(passaggi)] = 'esercizio.testoEsercizio'
	[(paginaScomposizione)] = 'paginaScomposizione'
></app-input-scomposizione>

<app-input-somma-algebrica *ngIf="paginaAssociativa"
	[valoreSovrapposto] = 'valoreSovrapposto'
	[valoreSpostato] = 'valoreSpostato'
	[eventoDrop] = 'eventoDrop'
	[(passaggi)] = 'esercizio.testoEsercizio'
	[(paginaAssociativa)] = 'paginaAssociativa'
></app-input-somma-algebrica>
