<div *ngFor="let riga of esercizio.testoEsercizio; index as numeroRiga; last as ultimo">
	<div class="clr-row clr-align-items-end" cdkDropList cdkDropListOrientation="horizontal"
		(cdkDropListDropped)="drop($event)">
		<div class="clr-col-3 clr-col-sm-2 clr-col-md-1 clr-col-lg-2 clr-col-xl-1"
			*ngFor="let carattere of (isArray(riga)? riga : []); index as j;">
			<div *ngIf="visualizzaPassaggi? true : ultimo" class="card"
				[ngClass]="{clickable: ultimo && cliccabile(carattere)}" cdkDrag
				[cdkDragDisabled]="!(ultimo && cliccabile(carattere) && numeroRiga!=0 && visualizzaHeaderCard)">
				<div class="card-header" cdkDragHandle
					*ngIf="visualizzaHeaderCard && ultimo && cliccabile(carattere) && numeroRiga!=0">
					<clr-icon shape="cursor-hand-grab"></clr-icon>
				</div>
				<div class="card-block"
					(click)="paginaScomposizioneSet(ultimo && cliccabile(carattere), carattere, j)">
					<p class="card-text">{{carattere}}</p>
				</div>
			</div>
			<div class="card customPlaceholder" *cdkDragPlaceholder></div>
		</div>
		
		<div class="clr-col-3 clr-col-sm-2 clr-col-md-1 clr-col-lg-2 clr-col-xl-1"
			*ngIf="isArray(riga) && numeroRiga!=0 && ultimo">
			<button type="button" class="btn btn-icon bottoneEliminaPassaggio"
				(click)="eliminaPassaggio()">
				<clr-icon shape="trash" class="is-solid"></clr-icon>
			</button>
		</div>
		<!-- Questo div serve per far riconosce la fine della riga dei passaggi
		(altrimento se si fa drop dopo l'ultima card viene sempre chiesto di
		sommare con l'ultimo valore -->
		<div
			class="clr-col-1 clr-col-sm-1 clr-col-md-1 clr-col-lg-1 clr-col-xl-1"
			cdkDrag></div>

		<div class="clr-col-3 clr-col-sm-2 clr-col-md-1 clr-col-lg-2 clr-col-xl-1">
			<div class="card card-block risultatoCorretto" *ngIf="!isArray(riga)">
				<p class="card-text">{{riga}}</p>
			</div>
			<button type="button" class="btn btn-primary" *ngIf="!isArray(riga) && !dimostrativoFisso"
				(click)="nuovoEsercizio()">
				<clr-icon shape="repeat" class="is-solid"></clr-icon> Nuovo esercizio
			</button>
		</div>
	</div>
</div>
