<div class="login-wrapper">
    <div class="login">
        <section class="title">
            Calcolo mentale 
            <h5 class="hint">Inserisci nome utente e password</h5>
        </section>
        <form class="login-group">
            <clr-input-container>
                <label class="clr-sr-only">Nome utente</label>
                <input type="text" name="username" clrInput placeholder="Username" [(ngModel)]="form.username" />
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="form.password" />
            </clr-password-container>

            <div class="error active" *ngIf="!usernameOrPasswdValid">
                Invalid user name or password
            </div>
            <button class="btn btn-primary" (click)="sent()"
            [disabled]="(form.username=='' || form.password=='')? true: null">Accedi</button>
            <a href="javascript://" class="signup" disabled>Iscriviti</a>
        </form>
    </div>
</div>