<span class="spinner spinner-md" *ngIf="spinner">
    In caricamento...
</span>

<div class="clr-row" *ngIf="!paginaScomposizione && !paginaAssociativa">
	<div class="clr-col-10 clr-col-sm-10 clr-col-md-10 clr-col-lg-10 clr-col-xl-10">
		<app-righe-passaggi
		  	[(passaggi)]="esercizio.testoEsercizio"
		  	[visualizzaHeaderCard] = "true"
		  	[(paginaAssociativa)] = "paginaAssociativa"
		  	[(paginaScomposizione)] = "paginaScomposizione"
		  	[(numeroScomposto)] = "numeroScomposto"
		  	[(indiceNumeroScomposto)] = "indiceNumeroScomposto"
		  	[(valoreSovrapposto)] = 'valoreSovrapposto'
			[(valoreSpostato)] = 'valoreSpostato'
			[(eventoDrop)] = 'eventoDrop'
			(EventoNuovoEsercizio)="nuovoEsercizio()"
		></app-righe-passaggi>
	</div>
</div>

<app-input-scomposizione *ngIf="paginaScomposizione"
	[numeroScomposto] = 'numeroScomposto'
	[indiceNumeroScomposto] = 'indiceNumeroScomposto'
	[(passaggi)] = 'esercizio.testoEsercizio'
	[(paginaScomposizione)] = 'paginaScomposizione'
></app-input-scomposizione>

<app-input-somma-algebrica *ngIf="paginaAssociativa"
	[valoreSovrapposto] = 'valoreSovrapposto'
	[valoreSpostato] = 'valoreSpostato'
	[eventoDrop] = 'eventoDrop'
	[(passaggi)] = 'esercizio.testoEsercizio'
	[(paginaAssociativa)] = 'paginaAssociativa'
></app-input-somma-algebrica>