<div class="main-container">

<!-- Alert per test -->
<clr-alert [clrAlertAppLevel]="true" [clrAlertType]="'warning'">
	<clr-alert-item>
		<span class="alert-text">
			Questa applicazione è di test
		</span>
	</clr-alert-item>
</clr-alert>


<!-- Header -->
<header class="header">
	<div class="branding">
	<a class="nav-link">
		<clr-icon shape="calculator" class="is-solid"></clr-icon>
		<span class="title">Tesi</span>
	</a>
	</div>
	<div class="header-actions">
	<clr-dropdown>
		<button class="nav-icon" clrDropdownTrigger>
		<clr-icon shape="cog"></clr-icon>
		<clr-icon shape="caret down"></clr-icon>
		</button>
		<clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
		<div class="dropdown-header toggle-switch">
			<input clrToggle type="checkbox" id="toggle_1" (change)="cambia()"
			[checked]="visualizzaPassaggi">
			<label for="toggle_1">Visualizza passaggi</label>
		</div>
		</clr-dropdown-menu>
	</clr-dropdown>
	</div>
</header>


<!--Inizio del contenuto della pagina e della vertical nav-->
<div class="content-container">
	<div class="content-area">
		<div class="clr-row">
			<div class="clr-col-1 clr-col-sm-1 clr-col-md-1 clr-col-lg-1 clr-col-xl-1"></div>
			<div class="clr-col-10 clr-col-sm-10 clr-col-md-10 clr-col-lg-10 clr-col-xl-10">
				<router-outlet></router-outlet>
			</div>
			<div class="clr-col-1 clr-col-sm-1 clr-col-md-1 clr-col-lg-1 clr-col-xl-1"></div>
		</div>
	</div>

	<!-- Barra laterale di navigazione -->
	<clr-vertical-nav [clrVerticalNavCollapsible]="true">
		<a clrVerticalNavLink
			routerLink="./tutorial"
			routerLinkActive="active">
			<clr-icon clrVerticalNavIcon shape="happy-face" class="is-solid"></clr-icon>
			Tutorial
		</a>
		<a clrVerticalNavLink
			routerLink="./addizione"
			routerLinkActive="active">
			<clr-icon clrVerticalNavIcon shape="plus-circle" class="is-solid"></clr-icon>
			Addizione
	    </a>
	    <a clrVerticalNavLink
			routerLink="./elenco_esercizi"
			routerLinkActive="active">
			<clr-icon clrVerticalNavIcon shape="tree-view" class="is-solid"></clr-icon>
			Esercizi svolti
	    </a>
	    


	    
	</clr-vertical-nav>
</div> <!--Fine del contenuto della pagina e della vertical nav-->
