<div class="main-container">

<!-- Alert per test -->
  <clr-alert [clrAlertAppLevel]="true" [clrAlertType]="'warning'">
    <clr-alert-item>
        <span class="alert-text">
            Questa applicazione è di test
        </span>
    </clr-alert-item>
  </clr-alert>


  <!-- Header -->
  <header class="header-4">
    <div class="branding">
      <a class="nav-link">
          <clr-icon shape="calculator" class="is-solid"></clr-icon>
          <span class="title">Tesi</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="cog"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a clrDropdownItem disabled>About</a>
          <a clrDropdownItem disabled>Preferences</a>
          <a clrDropdownItem disabled>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>


  <div class="content-container">
    <div class="content-area">
      <div class="clr-row">
        <div class="clr-col-1 clr-col-sm-1 clr-col-md-1 clr-col-lg-1 clr-col-xl-1"></div>
        <div class="clr-col-10 clr-col-sm-10 clr-col-md-10 clr-col-lg-10 clr-col-xl-10">
          <router-outlet></router-outlet>
        </div>
        <div class="clr-col-1 clr-col-sm-1 clr-col-md-1 clr-col-lg-1 clr-col-xl-1"></div>
</div>

    </div>

<!-- Barra laterale di navigazione -->
  <clr-vertical-nav [clrVerticalNavCollapsible]="true">
    <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="bicycle" class="is-solid"></clr-icon>
            Allenamento
        <clr-vertical-nav-group-children>
            <a clrVerticalNavLink
               routerLink="./allenamento/addizione"
               routerLinkActive="active">
              <clr-icon shape="plus-circle" class="is-solid"></clr-icon>
              Addizione
            </a>
            <a clrVerticalNavLink
               routerLink="./allenamento/sottrazione"
               routerLinkActive="active">
              <clr-icon shape="minus-circle" class="is-solid"></clr-icon>
              Sottrazione
            </a>
        </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>
    <clr-vertical-nav-group routerLinkActive="active">
         <clr-icon clrVerticalNavIcon shape="assign-user" class="is-solid"></clr-icon>
            Verifica
        <clr-vertical-nav-group-children>
            <a clrVerticalNavLink
               routerLink="./verifica/addizione"
               routerLinkActive="active" disabled>
                <clr-icon shape="plus-circle" class="is-solid"></clr-icon>
              Addizione
            </a>
            <a clrVerticalNavLink
               routerLink="./verifica/sottrazione"
               routerLinkActive="active" disabled>
                 <clr-icon shape="minus-circle" class="is-solid"></clr-icon>
              Sottrazione
            </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

</clr-vertical-nav>


<clr-wizard #wizardxl [(clrWizardOpen)]="xlOpen" [clrWizardClosable]="false">
    <clr-wizard-title>Funzionalità</clr-wizard-title>

    <clr-wizard-button [type]="'previous'">Indietro</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Avanti</clr-wizard-button>

    <clr-wizard-page>
        <ng-template clrPageTitle>Osservazioni</ng-template>
        <p>Vi prego di non badare troppo alla forma grafica: ci penseremo a tempo debito (ossia, so che non è granché).</p>
        <p>Staremo su questa parte di pagina (detta "modale") per poter lavorare su wizard affinché possiate percorrere in modo guidato le funzionalità. È soltanto
        per questo motivo che lo schermo non è completamente occupato.</p>
        <p>Per ora è statica, poi penseremo a come formare gli esercizi.</p>
        <p></p>
    </clr-wizard-page>
    <clr-wizard-page>
        <ng-template clrPageTitle>Il testo dell'esercizio</ng-template>
          <p></p>
          <div class="clr-row" >
            <div class="clr-col-2 clr-col-sm-2 clr-col-md-2 clr-col-lg-1 clr-col-xl-3">
              <div>
                <div class="card">
                  <div class="card-block"><p class="card-text">12</p></div>
                </div>
                </div>
              </div>


            <div class="clr-col-2 clr-col-sm-2 clr-col-md-2 clr-col-lg-1 clr-col-xl-3">
              <div id="B2">
                <div class="card">
                  <div class="card-block"><p class="card-text">+</p></div>
                </div>
              </div>
            </div>

            <div class="clr-col-2 clr-col-sm-2 clr-col-md-2 clr-col-lg-1 clr-col-xl-3">
              <div>
                <div class="card">
                  <div class="card-block"><p class="card-text">17</p></div>
                </div>
              </div>
            </div>
          </div>
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>La scomposizione</ng-template>
          <p>Cliccare o toccare la prima box (che contiene il numero 12)</p>
          <div class="clr-row riga1" >
            <div class="clr-col-2 clr-col-sm-2 clr-col-md-2 clr-col-lg-1 clr-col-xl-3">
              <div>
                <div class="card clickable" (click)="scomponi=true">
                  <div class="card-block"><p class="card-text">12</p></div>
                </div>
                </div>
              </div>


            <div class="clr-col-2 clr-col-sm-2 clr-col-md-2 clr-col-lg-1 clr-col-xl-3">
              <div id="B2">
                <div class="card">
                  <div class="card-block"><p class="card-text">+</p></div>
                </div>
              </div>
            </div>

            <div class="clr-col-2 clr-col-sm-2 clr-col-md-2 clr-col-lg-1 clr-col-xl-3">
              <div>
                <div class="card">
                  <div class="card-block"><p class="card-text">17</p></div>
                </div>
              </div>
            </div>
          </div>


          <clr-modal [(clrModalOpen)]="scomponi">
              <h3 class="modal-title">Proprietà dissociativa</h3>
              <div class="modal-body">
                  <p>Qui si potrà poi scrivere a mano</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-outline" (click)="scomponi = false">Annulla</button>
                  <button type="button" class="btn btn-primary" (click)="scomponi = false">Ok</button>
              </div>
          </clr-modal>
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>La somma</ng-template>
        <p>Qui immaginiamo che la scomposizione sia stata 12 = 10 + 2</p>
          <div class="clr-row riga1" >
            <div class="clr-col-2 clr-col-sm-2 clr-col-md-2 clr-col-lg-1 clr-col-xl-3">
              <div class="card" id="riga1_1"
                clrDraggable (clrDragLeave)="null" [clrDraggable]="{'id':'riga1_1','valore':10}"
                clrDroppable (clrDrop)="drop($event,'riga1_1')">
                <div class="card-block"><p class="card-text">10{{value_1}}</p></div>
                <clr-draggable-ghost *clrIfDragged>
                    <clr-icon shape="image" size="36" class="is-solid"
                              style="transform: translate3d(-50%, -50%, 0);"></clr-icon>
                </clr-draggable-ghost>
              </div>
            </div>
            <div class="clr-col-2 clr-col-sm-2 clr-col-md-2 clr-col-lg-1 clr-col-xl-3">
              <div id="B2">
                <div class="card">
                  <div class="card-block"><p class="card-text">+</p></div>
                </div>

              </div>
            </div>
            <div class="clr-col-2 clr-col-sm-2 clr-col-md-2 clr-col-lg-1 clr-col-xl-3">
              <div class="card"
                clrDraggable (clrDragLeave)="null" [clrDraggable]="{'id':'riga1_2','valore':2}"
                clrDroppable (clrDrop)="drop($event,'riga1_2')">
                <div class="card-block"><p class="card-text">2{{value_2}}</p></div>
              </div>
            </div>

            <div class="clr-col-2 clr-col-sm-2 clr-col-md-2 clr-col-lg-1 clr-col-xl-3">
              <div id="B2">
                <div class="card">
                  <div class="card-block"><p class="card-text">+</p></div>
                </div>
              </div>
            </div>

             <div class="clr-col-2 clr-col-sm-2 clr-col-md-2 clr-col-lg-1 clr-col-xl-3">
              <div class="card" id="riga1_3"
                clrDraggable (clrDragLeave)="null" [clrDraggable]="{'id':'riga1_3','valore':17}"
                clrDroppable (clrDrop)="drop($event,'riga1_3')">
                <div class="card-block"><p class="card-text">17 {{value_3}}</p></div>
              </div>
            </div>
          </div>
          <button class="btn btn-danger" (click)="value_1='';value_2='';value_3='';">Reset</button>
    </clr-wizard-page>
</clr-wizard>

<!--
    <nav class="sidenav">
      <section class="sidenav-content">
        <section class="nav-group collapsible active">
          <label>
            <clr-icon shape="bicycle" class="is-solid"></clr-icon>
            Allenamento
          </label>
          <ul class="nav-list">
            <li><a class="nav-link active"><clr-icon shape="plus-circle" class="is-solid"></clr-icon>Addizione</a></li>
            <li><a class="nav-link"><clr-icon shape="minus-circle" class="is-solid"></clr-icon>Sottrazione</a></li>
          </ul>
        </section>
        <section class="nav-group collapsible disabled">
          <label>
            <clr-icon shape="assign-user" class="is-solid"></clr-icon>
            Verifica
          </label>
          <ul class="nav-list">
            <li><a class="nav-link"><clr-icon shape="plus-circle" class="is-solid"></clr-icon>Addizione</a></li>
            <li><a class="nav-link"><clr-icon shape="minus-circle" class="is-solid"></clr-icon>Sottrazione</a></li>
          </ul>
        </section>






                <section class="nav-group">
                    <input id="tabexample2" type="checkbox">
                    <label for="tabexample2">Default Nav Element</label>
                    <ul class="nav-list">
                        <li><a class="nav-link">Link 1</a></li>
                        <li><a class="nav-link">Link 2</a></li>
                        <li><a class="nav-link active">Link 3</a></li>
                        <li><a class="nav-link">Link 4</a></li>
                        <li><a class="nav-link">Link 5</a></li>
                        <li><a class="nav-link">Link 6</a></li>
                    </ul>
                </section>
            </section>
        </nav>

        -->
  </div>
</div>


