#editor {
	height: 100%;
	min-height: 200px;
	margin: auto;
	min-width: 500px;
	border: 1px #ccc solid;
	touch-action: none;
	-ms-touch-action: none;
}

.textRight{
	text-align: right;
}

.padding10{
	padding: 10px !important;
}
